<% provide(:title, 'About Us') %>
<div class="center hero-unit">
	<h1>About Us</h1>
	<p>
		Picon Punch Press is a publishing company brewed right here in Northern Nevada.  True to the apertif from which it takes its name, Picon Punch Press is bold and bracing offering powerfully conceived, savvily targeted print and digital publications that help its clients create a stir, move the needle and celebrate their message.  Additionally, discriminating tastes fuel high quality print products ranging from business cards and posters, to window clings and yard signs.  In traditional Nevadan style, Picon Punch Press is independently owned and operated free to seek creative paths and discover new destinations.
	</p>
</div>