<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
	<h1>Contact Us</h1>
	<p>We love it when people call us! Feel free to give us a ring at 775-525-1345.</p>
	<p>For the lovers of the written word drop us a note: <a href="mailto:PiconPunchPress@gmail.com">PiconPunchPress@gmail.com</a> </p> 
	<p>Personal visits are great too - stop by and say "Hi!"  We are located at 600 South Arlington Avenue in gorgeous Southwest Reno.</p>
</div>
