<% provide(:title, 'Contact Us') %>
<div class="center hero-unit">
	<h1>Contact Us</h1>
	<p>We love it when people call us! Feel free to give us a ring at <strong> (775) 525-1345</strong>.</p>
	<p>For lovers of the written word drop us a note: <a style="color: red" href="mailto:info@PiconPunch.com">info@PiconPunch.com</a> </p> 
	<p>Personal visits are great too - stop by and say "Hi!"<br>  We are located at 321 South Arlington Avenue in the beautiful RiverWalk District near downtown Reno.</p>
</div>
