<div class="center hero-unit"
	<%= link_to image_tag("PiconLogo_MarketDeco_square_300x300_16color.gif", alt: "Picon Punch Press, LLC"), 'http://piconpunch.com' %>
	<h1>Picon Punch Press</h1>
	<p>
		<a href="http://piconpunch.com" style="color: red">Picon Punch Press, LLC</a> publishes <a href="http://ilovereno.com" style="color: red"><em>I Love Reno</em> Magazine</a> and offers professional custom print products for all your business needs.
	</p>
	&nbsp;
	<%= link_to "Order Print Products", products_path, class: "btn-large btn-danger" %>
	<%= link_to "Our Publications", publications_path, class: "btn-large btn-inverse" %>
</div>
