<% provide(:title, 'Home') %>
<h1>Picon Punch Press</h1>
<p>
	<a href="http://piconpunch.com">Picon Punch Press, LLC</a> publishes <a href="http://ilovereno.com">I Love Reno Magazine</a> and offers professional custom print services for all you business and personal needs.
</p>
