<% provide(:title, 'Publications') %>
<div class="center hero-unit">
	<h1>Publications</h1>
	<p>
		With more publications to come, our most recent is <em><span style="font-family: courier">  I <i class="icon-heart"></i> Reno </span> Magazine</em>.
	</p>
</div>
&nbsp;
<div class="center hero-unit">
<h2>
	<a href="http://ilovereno.com/">
		<button class="btn btn-large btn-danger" style="font-family: courier; color: white">
			I <i class="icon-heart icon-white"></i> Reno
		</button>
	</a> Magazine.
</h2>
	<p>
		A fresh new magazine, <em style="font-family: courier">  I <i class="icon-heart"></i> Reno</em> focuses on local residents, business, and events at the neighborhood level.  There is a lot to love about this town, and this magazine captures local information and shares with the neighbors.  The inaugural edition focuses on the beautiful Southwest region of Reno with its picturesque streets, beautiful architecture, and welcoming residents.  USPS will distribute 10,000 copies to parts of 89509 and 89519 zip codes and additional 1,000 copies will be available for pick-up at local retail and dining establishments.  We love Reno and want to spread the love! Join us by showcasing your business to your Southwest neighbors.
	</p>
&nbsp;
</div>