<% provide(:title, 'Publications') %>
<div class="center hero-unit">
	<h1>Publications</h1>
	<p>
		Here is one of our publications:
		&nbsp;
		<a href="http://ilovereno.com/" style="font-family: courier; color: white">
			<button class="btn btn-large btn-danger">
				I <i class="icon-heart icon-white"></i> Reno
			</button>
		</a> Magazine.
	</p>
</div>